<header id="home" class="header text-white h-fullscreen text-center text-lg-left" style="background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%);">
<canvas class="constellation" data-color="rgba(255,255,255,0.3)"></canvas>
<div class="container">
<div class="row align-items-center h-100">
<div class="col-lg-6">
<h1><strong>{{ language.962 }}</strong></h1>
<p class="lead mt-5 mb-8">{{ language.976 }}</p>
<p class="gap-xy">
<a class="btn btn-round btn-outline-light mw-150" href="/marketplace">Marketplace</a>
<a class="btn btn-round btn-primary mw-150" href="/club">Club</a>
</p>
</div>
<div class="col-lg-5 ml-auto">
<img class="mt-5" src="/img/pllano-platinum-visa-master.svg" alt="img">
</div>
</div>
</div>
</header>

<!--
<div class="col-lg-12 text-center">
<span class="social social-lg social-bg-brand social-cycling">
{{ language.895 }} : <a class="social-facebook" href="#" onclick="fb_login();return false;"><i class="fab fa-facebook-f"></i></a>
<a class="social-google" href="#" id="google_2"><i class="fab fa-google"></i></a>
</span>
</div>
-->

<main class="main-content">

<section class="section py-7" style="background-color: #CF0A4E">
<div class="container">
<div class="row gap-y align-items-center">
<div class="col-md-9">
<h4 class="mb-0 text-white text-center text-md-left"><strong>{{ language.966 }}</strong></h4>
</div>

<div class="col-md-3 text-center text-md-right">
<a class="btn btn-lg btn-round btn-light" href="/pre-order">{{ language.454 }}</a>
</div>
</div>
</div>
</section>

<section id="section-features" class="section bg-gray">
<div class="container">
<header class="section-header">
<small>{{ language.362 }}</small>
<h2><strong>{{ language.965 }}</strong></h2>
<hr>
<p class="lead">{{ language.967 }}</p>
</header>

<div class="row gap-y align-items-center">
<div class="col-md-6 ml-auto">
<h4><strong>{{ language.968 }}</strong></h4>
<p>{{ language.969 }}</p>
</div>
<div class="col-md-5 order-md-first">
<img class="rounded shadow-2" src="/img/card/pllano-marketplace.png" alt="{{ language.968 }}">
</div>
</div>

<hr class="my-8">

<div class="row gap-y align-items-center">
<div class="col-md-6 mr-auto">
<h4><strong>{{ language.970 }}</strong></h4>
<p>{{ language.971 }}</p>
</div>

<div class="col-md-5">
<img class="rounded shadow-2" src="/img/card/pllano-club-20.png" alt="{{ language.970 }}">
</div>
</div>

<hr class="my-8">

<div class="row gap-y align-items-center">
<div class="col-md-6 ml-auto">
<h4><strong>{{ language.972 }}</strong></h4>
<p>{{ language.973 }}</p>
</div>
<div class="col-md-5 order-md-first">
<img class="rounded" src="/img/shopping/beautiful.jpg" alt="{{ language.972 }}">
</div>
</div>

</div>
</section>

<section class="section bg-gray text-center">
<div class="container">

<header class="section-header">
<h2 class="lead-8"><strong>{{ language.974 }}</strong></h2>
<hr>
<div class="col-lg-12 text-center">
<img class="mt-5" src="/img/pllano-platinum-visa-master.svg" alt="{{ language.974 }}">
</div>
<hr>
<p class="lead">{{ language.975 }}</p>
</header>

<div class="row">

<form class="col-md-4 col-xl-4 mx-auto input-border"  method="get" action="/pre-order">
<div class="form-group">
<input type="text" name="name" class="form-control form-control-lg" placeholder="{{ language.103 }}">
</div>
<div class="form-group">
<input type="text" name="email" class="form-control form-control-lg" placeholder="{{ language.161 }}">
</div>
<div class="form-group">
<input type="text" name="phone" class="form-control form-control-lg" placeholder="{{ language.200 }}">
</div>
<button class="btn btn-block btn-xl btn-success">{{ language.977 }}</button>
</form>

</div>

</div>
</section>

</main>