<header class="header text-white h-fullscreen pb-0 overflow-hidden" style="background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%);">

<canvas class="constellation" data-color="rgba(255,255,255,0.3)"></canvas>
<div class="container text-center">
<div class="row align-items-center h-100">
<div class="col-md-8 mx-auto">
<h1>{{ language.660 }}</h1>
<p class="lead mt-4 mb-7">{{ language.978 }}</p>
<p class="gap-xy">
<a class="btn btn-round btn-primary mw-150" href="/pre-order?ref=marketplace">{{ language.977 }}</a>
<a class="btn btn-round btn-outline-light mw-150" href="/sign-in">{{ language.203 }}</a>
</p>
</div>
<div class="col-md-8 mx-auto align-self-end">
<img class="mt-7" src="/img/card/marketplace-laptop.png" alt="{{ language.660 }}" data-aos="fade-up">
</div>
</div>
</div>
</header>
<main class="main-content">

<section class="section py-8">

<div class="container">
<div class="row gap-y align-items-center">
<div class="col-md-6 mr-auto">
<h2>{{ language.991 }}</h2>
<p class="lead">{{ language.992 }}</p>
<p>{{ language.993 }}</p>
</div>
<div class="col-md-5">
<img class="rounded shadow-2" src="/img/shopping/beautiful.jpg" alt="{{ language.991 }}">
</div>
</div>

<hr class="my-8">

<div class="row gap-y align-items-center">
<div class="col-md-6 ml-auto">
<h2>{{ language.994 }}</h2>
<p class="lead">{{ language.995 }}</p>
<p>{{ language.996 }}</p>
</div>
<div class="col-md-5 order-md-first">
<img class="rounded shadow-2" src="/img/shopping/premium-features-world.jpg" alt="{{ language.994 }}">
</div>
</div>
</div>

</section>

<section class="section text-white" style="background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%);">
<div class="container-fluid">
<div class="row gap-y align-items-center">
<div class="col-md-5 ml-auto text-center">
<h3><strong>{{ language.997 }}</strong></h3>
<hr>
<form class="col-md-12 col-xl-12 mx-auto input-border" method="get" action="/pre-order?ref=marketplace">
<div class="form-group">
<input type="text" name="name" class="form-control form-control-lg" placeholder="{{ language.103 }}">
</div>
<div class="form-group">
<input type="text" name="email" class="form-control form-control-lg" placeholder="{{ language.161 }}">
</div>
<div class="form-group">
<input type="text" name="phone" class="form-control form-control-lg" placeholder="{{ language.200 }}">
</div>
<button class="btn btn-block btn-xl btn-success">{{ language.977 }}</button>
</form>
</div>
<div class="col-md-4 mx-auto text-center">
<img src="/img/pllano-platinum-visa-master.svg" alt="{{ language.962 }}">
</div>
</div>
</div>
</section>

<section class="section">
<div class="container">
<header class="section-header">
<h2><strong>{{ language.998 }}</strong></h2>
<hr>
<p class="lead">{{ language.999 }}</p>
</header>
<div class="row gap-y text-center">
<div class="col-md-6 col-xl-4 feature-1">
<p class="feature-icon"><i class="icon-mobile"></i></p>
<p class="lead-1">{{ language.1000 }}</p>
</div>
<div class="col-md-6 col-xl-4 feature-1">
<p class="feature-icon"><i class="icon-profile-male"></i></p>
<p class="lead-1">{{ language.1001 }}</p>
</div>
<div class="col-md-6 col-xl-4 feature-1">
<p class="feature-icon"><i class="icon-megaphone"></i></p>
<p class="lead-1">{{ language.1002 }}</p>
</div>
<div class="col-md-6 col-xl-4 feature-1">
<p class="feature-icon"><i class="icon-documents"></i></p>
<p class="lead-1">{{ language.1003 }}</p>
</div>
<div class="col-md-6 col-xl-4 feature-1">
<p class="feature-icon"><i class="icon-shield"></i></p>
<p class="lead-1">{{ language.1004 }}</p>
</div>
<div class="col-md-6 col-xl-4 feature-1">
<p class="feature-icon"><i class="icon-book-open"></i></p>
<p class="lead-1">{{ language.1005 }}</p>
</div>
</div>
</div>
</section>

<section class="section bg-gray text-center">
<div class="container">

<header class="section-header">
<h2 class="lead-8"><strong>{{ language.974 }}</strong></h2>
<hr>
<div class="col-lg-12 text-center">
<img class="mt-5" src="/img/pllano-platinum-visa-master.svg" alt="{{ language.974 }}">
</div>
<hr>
<p class="lead">{{ language.975 }}</p>
</header>

<div class="row">

<form class="col-md-4 col-xl-4 mx-auto input-border"  method="get" action="/pre-order?ref=marketplace">
<div class="form-group">
<input type="text" name="name" class="form-control form-control-lg" placeholder="{{ language.103 }}">
</div>
<div class="form-group">
<input type="text" name="email" class="form-control form-control-lg" placeholder="{{ language.161 }}">
</div>
<div class="form-group">
<input type="text" name="phone" class="form-control form-control-lg" placeholder="{{ language.200 }}">
</div>
<button class="btn btn-block btn-xl btn-success">{{ language.977 }}</button>
</form>

</div>

</div>
</section>

</main>